@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

P,h1, h2, H3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.linkbutton{ 
  background-color: "#C91C5A"; 
  width: "84%";
}

@media (min-width: 768px) {
  .linkbutton{
    width: "84%";
  }
}